{% extends 'base.html' %}
{% block title %}

  {{post.title}}

{% endblock %}



{% block content %}
current user : {{ user.id }}
post auther : {{ post.auther.id }}
<h1> {{ post.title}} </h1>
<small>
    By: {{ post.auther}} - {{post.post_date}} -  
    {% if user.is_authenticated %}
     {% if user.id == post.auther.id %}
     <a href="{% url 'update_post' post.pk %}">Edit</a>
     {% endif %}
    {% endif %}    
</small> <br>
{{post.body | safe }}

<br> <br>


<a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>

<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
   {% csrf_token %}
   <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> - {{total_likes}} Likes

</form>

{% endblock %}